<!-- h1 All Categories

ul id="categories" data-update-url="sort_categories_url"
  = nested_categories @categories.arrange

= link_to "New category", new_category_path(@category) -->


<ul id="categories" data-update-url="<%= sort_categories_url %>">
<% @categories.each do |category| %>
  <%= content_tag_for :li, category do %>
    <span class="handle">[drag]</span>
    <%= link_to h(category.name), category %>
  <% end %>
<% end %>
</ul>
